.ordermanage{
    width: 1050px;
    height: 720px;
    margin-top: 10px;
    border-radius: 5px;
}
.orderseek{
    padding-top: 20px;
    margin: 0 20px;
}
.orderseek>p{
    margin: 0;
}
.searchmodul{
    display: flex;
    justify-content: space-between;
    margin: 50px 30px 0 30px;
}
.searchleft{
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.searchleft>p{
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    /*margin-bottom: 20px;*/
}
.searchleft>p>input{
    line-height: 25px;
    border-radius: 5px;
    border: #629DFC solid 1px;
    width: 220px;
    background-color: transparent;
    margin-left: 10px;
    outline:none;
    color: #CBDFFF;
}
.searchleft>.searchstort>input{
    width: 103px;
}
.searchleft>.searchstort>input:nth-child(4){
    margin-left: 5px;
}
.searchmid{
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.searchmid>p{
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    /*margin-bottom: 20px;*/
}
.searchmid>p>span{
    display: inline-block;
    width: 52px;
    text-align: right;
}
.searchmid>p>input{
    line-height: 25px;
    border-radius: 5px;
    border: #629DFC solid 1px;
    width: 220px;
    background-color: transparent;
    margin-left: 10px;
    outline: none;
    color:#CBDFFF;
}
.searchright{
    width: 270px;
}

.searchright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.searchright>a{
    width: 110px;
    line-height: 35px;
    border-radius: 5px;
    border: #CBDFFF solid 1px;
    background-color: transparent;
    /*margin-top: 10px;*/
    margin: 5px 0;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}
.searchright>a:hover{
    text-decoration: none;
    color: #00FFFF !important;
    border: 1px solid #00FFFF;
}
.orderlist{
    margin: 20px;
}
.orderlist>table{
    width: 100%;
    border: solid 1px #629DFC;
}
.orderlist>table tr td{
    border: solid 1px #629DFC;
}
.orderlist>table>thead>tr>td{
    font-size: 15px;
    text-align: center;
    line-height: 40px;
}
/*.orderlist>table>tbody>tr{*/
    /*display: flex;*/
    /*flex-direction: row;*/
/*}*/
.orderlist>table>tbody>tr>td{
    font-size: 12px;
    text-align: center;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    padding-top: 10px;
    padding-bottom: 10px;

}
/*.orderlist>table>tbody>tr>td>img{*/
    /*display: block;*/
    /*width: 70px;*/
    /*height: 80px;*/
    /*background-color: #ffffff;*/
    /*margin: 10px auto;*/
/*}*/
.orderlist>table>tbody>tr>td>a{
    text-decoration: none;
}
.orderlist>table>tbody>tr>td>a:hover{
    color: #00FFFF !important;
}
.orderlist>table>tbody>tr>td:nth-child(7){
    color: #FFEB00 !important;
}

.pages{
    margin: 0 20px;
    margin-top: 30px;
    height: 28px;
    display: flex;
    justify-content: flex-end;
}
.pagesitem{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.pages>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 28px;
    margin: 0 10px;
}
.pages>a:hover{
    text-decoration: none;
}
.pagesitem>li>a{
    display: block;
    width: 28px;
    height: 28px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    line-height: 28px;
    margin: 0 2px;
    border-radius: 14px;
    text-align: center;
}
.pagesitem>li>a:hover{
    text-decoration: none;
}
.pages>p{
    font-size: 20px;
    color: #FFFFFF;
}
