.cashrecorde{
    width: 1050px;
    height: 720px;
    padding-top: 17px;
    margin-top: 10px;
    border-radius: 5px;
}
.cashrecodetit{
    display: flex;
    justify-content: space-between;
    margin: 0 19px;
}
.cashrecordetit{
    color: #CBDFFF;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 28px;
    margin-bottom: 0;
}
.cashnum{
    color: #00FFFF;
    line-height: 28px;
    margin-bottom: 0;
    font-size: 16px;
}
.recordelist{
    width: 1010px;
    margin: 15px auto 0 auto;
}
.recordelist tr td {
    border: solid #629DFC 1px;
    text-align: center;
}
.recordelist>thead>tr>td{
    font-size: 14px;
    line-height: 20px;
    color: #CBDFFF;
    padding: 5px;
}
.recordelist>tbody>tr>td{
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 10px;
}
.recordelist>tbody>tr>td>a{
    font-size: 12px;
    line-height: 17px;
    color: #00FFFF;
    padding: 10px;
    text-decoration: none;
}
.recordelist>tbody>tr>td>a:hover{
    text-decoration: none;
    color: #00FFFF !important;
}

.pages{
    margin: 0 20px;
    margin-top: 30px;
    height: 28px;
    display: flex;
    justify-content: flex-end;
}
.pagesitem{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.pages>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 28px;
    margin: 0 10px;
}
.pages>a:hover{
    text-decoration: none;
}
.pagesitem>li>a{
    display: block;
    width: 28px;
    height: 28px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    line-height: 28px;
    margin: 0 2px;
    border-radius: 14px;
    text-align: center;
}
.pagesitem>li>a:hover{
    text-decoration: none;
}
.pages>p{
    font-size: 20px;
    color: #FFFFFF;
}